@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Open Sans", sans-serif;
	font-size: 10pt;
	background: #222;
	color: #ccc;
}
.flump-main {
	margin: 0 auto;
	margin-top: 100px; 
	margin-bottom: 100px;
	width: 90%;
	text-align: center;

	.landing-title {
		margin: 20px;

		.title {
			font-size: 60pt;
		}

		.tagline {
			font-size: 25pt;
		}
	}

	.dropzone {
		margin: 0 auto;
		width: 50%;
		padding: 50px;
		font-size: 16pt;

		a {
			cursor: pointer;
			display: inline-block;
			font-size: 35pt;
			background: #0ab146;
			border-radius: 100%;
			width: 50px;
			height: 50px;
			padding: 20px;
			transition: all .3s ease-in;
		}

		a:hover {
			background: #09a035;
			box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.25);
		}

		.message {
			margin-top: 30px;
		}
	}

	.files {
		list-style: none;
	}

	.file-item {
		display: block;
		font-size: 12pt;
		padding: 10px;

		.icon-check {
			color: #0ab146;
			margin: 10px;
		}

		.icon-close {
			color: #fd4242;
			margin: 10px;
		}

		a {
			display: inline-block;
			margin: 10px;
			text-decoration: none;
			color: #555;
		}

		a:hover {
			color: #aaa;
		}
	}

	.file {
		.file-icon {
			display: inline-block;
			font-size: 35pt;
			background: #333;
			border-radius: 100%;
			width: 50px;
			height: 50px;
			padding: 20px;
		}

		.name {
			font-size: 30pt;
			margin: 10px;
		}

		.info {
			font-size: 14pt;
			margin: 20px;
		}

		a.download {
			display: inline-block;
			margin: 20px;
			cursor: pointer;
			font-family: "Open Sans", sans-serif;
			font-size: 12pt;
			padding: 20px;
			border-radius: 3px;
			color: #fff;
			background: #0ab146;
			transition: all .3s ease-in;
			text-decoration: none;
		}

		a.view-file {
			display: inline-block;
			font-size: 35pt;
			border-radius: 100%;
			background: #0ab146;
			color: #fff;
			font-size: 12pt;
			padding: 20px;
			text-decoration: none;
		}

		a.download:hover, a.view-file:hover {
			box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.25);
		}
	}

	.faq {
		margin: 0 auto;
		width: 40%;

		h1 {
			font-weight: normal;
			font-size: 30pt;
		}

		.question {
			text-align: left;
			margin: 30px;

			h2 {
				margin-bottom: 10px;
				font-size: 20pt;
			}

			.answer {
				color: #aaa;
				font-size: 12pt;
			}
		}
	}
}
@media (max-width: 1600px) {
	.flump-main {
		.faq {
			width: 60%;
		}
	}
}
@media (max-width: 1000px) {
	.flump-main {
		.faq {
			width: 70%;
		}
	}
}
@media (max-width: 800px) {
	.flump-main {
		.faq {
			width: 90%;
		}
	}
}
.about-links {
	margin: 20px;
	text-align: center;
	font-size: 14pt;

	a {
		display: inline-block;
		margin: 10px;
		text-decoration: none;
		color: #555;
	}

	a:hover {
		color: #aaa;
	}
}
.http-error {
	margin: 0 auto;
	margin-top: 150px;
	text-align: center;
	font-size: 35pt;

	i {
		background: #333;
		border-radius: 100%;
		width: 50px;
		height: 50px;
		padding: 20px;
	}

	.message {
		margin-top: 30px;
	}
}
.loading {
	.loading-icon {
		margin: 0 auto;
		height: 100px;
		width: 100px;
		animation: rotation 1s infinite linear;
		border: solid 3px #0ab146;
		border-top-color: rgba(0, 0, 0, 0);
		border-radius: 100%;
	}

	.loading-center {
		margin-top: 100px;
	}

	.loading-message {
		margin: 0 auto;
		margin-top: 50px;
		width: 50%;
		font-size: 16pt;
		text-align: center;
		color: #ccc;
	}
}
@keyframes rotation {
	to {
		transform: rotate(360deg);
	}
}
.fadeInUp {
	animation: fadeInUp 1s;
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
